datasets==2.19.0
transformers==4.41.0
unsloth[colab-new]
trl==0.8.6
peft==0.11.1
accelerate==0.30.1
bitsandbytes==0.43.1
sentencepiece==0.2.0
huggingface_hub==0.23.0
torch>=2.0.0
wandb
beautifulsoup4
requests
pandas
tqdm
